{% extends 'sandwich/index.html' %}
<head>
  {% load static %}
  {% block title %} -Login{% endblock %}
  {% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  {% endblock %}
</head>

{% block content %}
<form action="" method="post">
    <fieldset>

    <h2> 로그인</h2>
	<legend>로그인</legend>


<div class="login_box">
    {{ form.as_p}}
    {% csrf_token %}
<!--	<input type="text" placeholder="아이디">-->
<!--	<input type="password" placeholder="비밀번호">-->

    <button type="submit" class="btnLogin">로그인</button>
    <button type="submit" class="btnJoin"><a href="{% url 'register' %}" style="color: white;">회원가입</a></button>
<!--    <button type="submit" class="btnJoin" onclick = "location.href = '{% url 'register' %}' ">회원가입</button>-->
</div>
</fieldset>
 </form>
{% endblock %}